footer {
  background-color: #3a506b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > .logo {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer > .container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width:fit-content;
  margin-bottom: 20px;
}
.container > * {
  width: 200px;
}
.footer_social_media {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
.footer_social_media > a > i:hover {
  color: #5bc0be;
}
.copyright {
  margin-top: 10px;
}
@media screen and (max-width: 660px) {
    footer > .container{
        display: flex;
        flex-direction: column; 
        width: fit-content;
    }
    .container > * {
        margin-bottom: 10px;
      }
}