header > ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 25px 30px;
  background-color: #3a506b;
  color: white;
}
header > ul > li {
  color: white;
  margin: 0 10px;
  cursor: pointer;
}

header > ul > li:hover {
  color: #5bc0be;
}

header > ul > li:last-child {
  background-color: #5bc0beaa;
  padding: 5px 10px;
  border-radius: 8px;
  transition: all 0.15s ease;
  font-weight: 500;
}

header > ul > li:last-child:hover {
  background-color: #5bc0beff;
  color: #12255c !important;
}
header > i {
  display: none !important;
}
@media screen and (max-width: 650px) {
  header > i {
    display: block !important;
    font-size: 32px !important;
  }
  header > ul {
    display: none;
  }
}
