* {
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
.logo {
  font-size: x-large;
  font-weight: 700;
}
.logo:hover {
  cursor: pointer;
}
a:visited,
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.15s ease;
}
