<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="../header.css">
    <link rel="stylesheet" href="../footer.css">
    <link rel="stylesheet" href="categories.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Categories</title>

</head>
<body>
<header>
    <a href="#"><span class="logo">StandBy</span></a>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Courses</a></li>
        <div>
            <li><a href="#">Career paths</a></li>
            <ul class="dropdown-content">
                <li><a href="#">IT</a></li>
                <li><a href="#">Programming</a></li>
                <li><a href="#">Computer networks</a></li>
                <li><a href="#">Accounting</a></li>
                <li><a href="#">Graphic design</a></li>
                <li><a href="#">Language</a></li>
                
            </ul>
        </div>
        <li><a href="#" class="logout">Log out</a></li>
    </ul>
    <i class="fa fa-bars navmenu" aria-hidden="true"></i>
    
</header>
<main>
    <section class="banner"><div><h1>Graphic Design</h1></div></section>
    <aside><h2>Search</h2>
        <div class="searchBox">
            <span class="fa fa-search"></span>
            <input type="text" placeholder="Search">
        </div>
        
            <button>Search in Graphic Design</button>
            <button>Search in all courses</button>
        
       
    
    </aside>

    <section class="courses">   

            <h2 id="level-0">Beginner</h2>                
            
            <h2 id="level-1">Advanced</h2>
        
    </section>
</main>

<footer>   
   
        <span class="logo">StandBy</span>
        <div class="container">
            <div>
                <span>About</span>
                <p>What is StandBy</p>
            </div>
            <div>
                <span>Contact us</span>
                <p>Your feedback matter</p>
            </div>
            <div>
                <span>Guide</span>
                <p>How to use StandBy</p>
            </div>
        </div>
        <p></p>
        <div class="footer_social_media">
            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
            <a href="https://github.com" target="_blank"><i class="fa fa-fw fa-github"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>
            <a href="https://mail.google.com" target="_blank"><i class="fa fa-fw fa-envelope"></i></a>
        </div>
        <p class="copyright">StandBy &copy; to Great Team.</p>
    
     
</footer>
<script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-auth-compat.js"></script>
<script src="../app.js"></script>
<script src="../firebase/Auth.js"></script>
<script src="../categories/categories.js"></script>

</body>
</html>