<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StandBy - SignUp</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <link rel="stylesheet" href="signUp.css">
</head>
<body>
    <span class="header"></span>
    <div class="formContainer">
        <div class="header"><h2> Create Account</h2></div>
     
     
        <form id="signup-form">

        <label >Username </label>
        <div>        
        <i class="fa-solid fa-user"></i>
        <input id="username" type="text"placeholder="Enter Username" required>
        </div>

        <label >Email</label>
        <div>
            <i class="fa-solid fa-envelope"></i>
            <input  id="email" type="email"placeholder="Enter Email" required>
        </div>
        
        <label >Password </label>
        <div>
        <i class="fa-solid fa-key"></i>
        <input id="password" type="password"placeholder="Enter password" required>
        </div>
         
        <label >Confirm password </label>
        <div>
        <i class="fa-solid fa-key"></i>
        <input id="repassword" type="password"placeholder="Enter  password" required>
        </div>
        
        <button type="submit">Sign Up</button>
        <span>Already registered? <a href="login.html">Login</a></span>
        </form>
     </div>
     <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-app-compat.js"></script>
     <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-auth-compat.js"></script>
     <script src="../app.js"></script>
     <script src="../firebase/Auth.js"></script>
     <script src="templates.js"></script>
</body>
</html>