* {
  box-sizing: border-box;
}

.formContainer {
  background-color: white;
  border-radius: 5px;
  /* border: 0.2px solid #3a506b; */
  box-shadow: 0 3px 10px rgba(20, 20, 20, 0.5);
  width: 300px;
  height: 450px;
  max-width: 100%;
  margin: 30px auto;
}

.formHeader {
  background-color: #3a506b;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
  color: #fff;
}
.formContainer label {
  margin-left: 15px;
  font-size: small;
  color: #3a506b77;
}
.formContainer > form {
  height: 85%;
  /* flex can do many things */
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}
.formContainer > form > div {
  display: flex;
}
.formContainer i {
  color: #0b132b99;
}
.formContainer span {
  margin: 0 auto;
}
.formContainer a{
  color:#5BC0BE !important;

}
.formContainer button {
  cursor: pointer;
  margin-top: auto;
  background-color: #3a506b;
  border: 2px solid #3a506b;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  transition: all 0.2s ease-in;
}
.formContainer button:hover {
  background-color: #5bc0be;
  color: #0b132b;
}

.formContainer input {
  width: 100%;
  margin-bottom: 20px;
  /* the next 3 lines remove all input default styles */
  border: none;
  outline: none;
  background-color: none;
  border-bottom: 0.2px solid #3a506b;
}

.formContainer input:invalid {
  border-bottom: 0.3px solid red;
}
.formContainer input:valid {
  border-bottom: 0.3px solid #4778b4;
}


/* input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #e5eceb;
  outline: none;
  border-color: #e5eceb;
} */
