<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Home</title>
</head>
<body>
    <span class="header"></span>
    <h1>Home Page</h1>
    <span class="footer"></span>
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-auth-compat.js"></script> 
    <script src="/app.js"></script>
    <script src="/firebase/Auth.js"></script>
    <script src="../templates.js"></script>
</body>
</html>