<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <span class="header"></span>
 
    <main>
        <h1>Profile</h1>
        <ul class="inner_nav">
            <li id="overview">OverView</li>
            <li id="favorites">Favorites</li>
            <li id="Recommendations">Recommendations</li>
            <li id="notifications">Notifications</li>
        </ul>
        <div class="inner_slider">
            <section class="slide">
            
                <form>
                    <h2>Personal Info</h2>
                    <div class="field">
                        <label for="UserName">UserName:</label>
                        <input type="text" placeholder="UserName" id="UserName" value="Omar Yasser">
                    </div>
                    
                    <div class="field"> 
                        <label for="Email">Email:</label>
                        <span>Omar@gmail.com</span>
                    </div>
                    <div class="field">
                        <label for="Location">Location:</label>
                        <input type="text" placeholder="UserName" id="Location" value="Egypt"></div>
                    
                    <div class="field">
                        <label for="UserName">Interests:</label>
                        <input type="text" placeholder="UserName" id="UserName" value="FrontEnd development"></div>
                    
                    <button type="submit">Edit</button>
                </form>
                <div class="badges_container">
                    <h2>Badges</h2>
                    <div class="badges">
                    
                        <div class="badge golden"><span>WebDev</span>
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                            
                        </div>
                        <div class="badge"><span>EN</span>
                            <ul>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </ul>
                          
                        </div>
                        <div class="badge"><span>CSS</span>
                            <ul>
                                <i class="fa-solid fa-star"></i>
                            </ul>
                          
                        </div>
                        <div class="badge"><span>HTML</span>
                            <ul>
                                <i class="fa-solid fa-star"></i>
                            </ul>
                          
                        </div>
                        <div class="badge"><span>FR</span>
                            <ul>
                                <i class="fa-solid fa-star"></i>
                            </ul>
                          
                        </div>
                        <div class="badge"><span>JS</span>
                            <ul>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
    
                            </ul>
                          
                        </div>
                        
    
        
                    </div>
                    <div class="badge_guide">
                        <span>How to earn a badge?</span>
                        <span>What does badges mean?</span>
                    </div>
                    
                </div>
               
            </section>
            <section class="slide">
            
                <form>
                    <h2>Personal Info</h2>
                    <div class="field">
                        <label for="UserName">UserName:</label>
                        <input type="text" placeholder="UserName" id="UserName" value="Omar Yasser">
                    </div>
                    
                    <div class="field"> 
                        <label for="Email">Email:</label>
                        <span>Omar@gmail.com</span>
                    </div>
                    <div class="field">
                        <label for="Location">Location:</label>
                        <input type="text" placeholder="UserName" id="Location" value="Egypt"></div>
                    
                    <div class="field">
                        <label for="UserName">Interests:</label>
                        <input type="text" placeholder="UserName" id="UserName" value="FrontEnd development"></div>
                    
                    <button type="submit">Edit</button>
                </form>
                <div class="badges_container">
                    <h2>Badges</h2>
                    <div class="badges">
                    
                        <div class="badge golden"><span>WebDev</span>
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                            
                        </div>
                        <div class="badge"><span>EN</span>
                            <ul>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </ul>
                          
                        </div>
                        <div class="badge"><span>CSS</span>
                            <ul>
                                <i class="fa-solid fa-star"></i>
                            </ul>
                          
                        </div>
                        <div class="badge"><span>HTML</span>
                            <ul>
                                <i class="fa-solid fa-star"></i>
                            </ul>
                          
                        </div>
                        <div class="badge"><span>FR</span>
                            <ul>
                                <i class="fa-solid fa-star"></i>
                            </ul>
                          
                        </div>
                        <div class="badge"><span>JS</span>
                            <ul>
                                
                                <i class="fa-solid fa-star"></i>
    
                            </ul>
                          
                        </div>
                        
    
        
                    </div>
                    <div class="badge_guide">
                        <span>How to earn a badge?</span>
                        <span>What does badges mean?</span>
                    </div>
                    
                </div>
               
            </section>
        </div>
        
    </main>
    
    <span class="footer"></span>
</body>
</html>