<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: none;">

    <span class="header"></span>
 
    <main>
        <h1>Profile</h1>
        <ul class="inner_nav">
            <li id="overview">OverView</li>
            <li id="favorites">Favorites</li>
            <li id="notifications">Notifications</li>
        </ul>
        <div class="inner_slider">
            <section class="slide">
            
                <form>
                    <h2>Personal Info</h2>
                    <div class="field">
                        <label for="UserName">UserName:</label>
                        <input type="text" placeholder="UserName" id="UserName" value="Omar Yasser">
                    </div>
                    
                    <div class="field"> 
                        <label for="Email">Email:</label>
                        <span>Omar@gmail.com</span>
                    </div>
                    <div class="field">
                        <label for="Location">Location:</label>
                        <input type="text" placeholder="UserName" id="Location" value="Egypt"></div>
                    
                    <div class="field">
                        <label for="UserName">Interests:</label>
                        <input type="text" placeholder="UserName" id="UserName" value="FrontEnd development"></div>
                    
                    <button type="submit">Edit</button>
                </form>
                <div class="badges_container">
                    <h2>Badges</h2>
                    <div class="badges">
                    
                        <div class="badge golden"><span>WebDev</span>
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                            
                        </div>
                        <div class="badge"><span>EN</span>
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>

                            </ul>
                          
                        </div>
                        <div class="badge"><span>CSS</span>
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>

                            </ul>
                          
                        </div>
                        <div class="badge"><span>HTML</span>
                            <ul>                                
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                          
                        </div>
                        <div class="badge"><span>FR</span>
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                          
                        </div>
                        <div class="badge"><span>JS</span>
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
    
                            </ul>
                          
                        </div>
                        
    
        
                    </div>
                    <div class="badge_guide">
                        <span id="badgeEarnInfo">How to earn a badge?</span>
                        <span id="badgeMeanInfo">What does badges mean?</span>
                    </div>
                    
                </div>
               
            </section>
            <section class="slide">
                <div class="favorites">
                    <div class="categories_list">
                        <ul>
                            <li>Programming</li>
                            <li>Graphic design</li>
                            <li>Computer Networks</li>
                            <li>Language</li>
                            <li>Accounting</li>


                        </ul>
                    </div>
                    <div class="videos_container">
                    <div class="video">
                        <a target="_blank" href="#" >
                            <img src="https://img.youtube.com/vi/_2LLXnUdUIc/0.jpg" alt="test">
                            <span>This is a cool video</span>
                        </a>
                    </div>
                    <div class="video">
                        <a target="_blank" href="#" >
                            <img src="https://img.youtube.com/vi/_2LLXnUdUIc/0.jpg" alt="test">
                            <span>This is a cool video</span>
                        </a>
                    </div>
                    <div class="video">
                        <a target="_blank" href="#" >
                            <img src="https://img.youtube.com/vi/_2LLXnUdUIc/0.jpg" alt="test">
                            <span>This is a cool video</span>
                        </a>
                    </div>
                    <div class="video">
                        <a target="_blank" href="#" >
                            <img src="https://img.youtube.com/vi/_2LLXnUdUIc/0.jpg" alt="test">
                            <span>This is a cool video</span>
                        </a>
                    </div>
                </div>
                </div>   
            </section>

            <section class="slide">
                <div class="notifications">
                    <div class="notifications_menu">
                        <span>DELETE</span> <span>SELECT ALL</span>
                    </div>
                    <div class="notifications_container">
                        <ul>
                            <li>
                                <div class="notification">
                                    <input type="checkbox" name="selected" id="0">
                                    <span>You Are very good learner! keep it up</span>
                                </div>
                            </li>
                            <li>
                                <div class="notification">
                                    <input type="checkbox" name="selected" id="0">
                                    <span>i'm still insecure about how i feel about this</span>
                                </div>
                            </li>
                            <li>
                                <div class="notification">
                                    <input type="checkbox" name="selected" id="0">
                                    <span>Amr ewais reached the final milestone: gg</span>
                                </div>
                            </li>
                            <li>
                                <div class="notification">
                                    <input type="checkbox" name="selected" id="0">
                                    <span>this website is made by a great team</span>
                                </div>
                            </li>
                            <li>
                                <div class="notification">
                                    <input type="checkbox" name="selected" id="0">
                                    <span>ALERT PAY US OR YOU LOSE</span>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </section>
        </div>
        
    </main>
    
    <span class="footer"></span>
</body>
</html>