*{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
}
main > * {
    /* background-color: #3a506b; */
    /* background-color: white; */
    background-color: #F6F9F8;
    box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%), 0 1px 8px 0 rgb(39 44 51 / 2%);
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
}
a {
    color: inherit;
    text-decoration: none;
}
body {
    background-color: #e5eceb;
    min-height: 100vh;
  }
main{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.search{
    font-size: xx-large;
    min-width: 250px;
    max-width: 250px;
    /* flex: 1 1 150px; */
    position: fixed;
    z-index: 1;
}
.search .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search .list{
    overflow-y:scroll;
    width: 100%;
    height: 350px;
    margin: 10px 0 10px 0;
    border-radius: 2px;
    margin-left: 10px;
}

.search ::-webkit-scrollbar {
    width: 10px;
}
.search ::-webkit-scrollbar-track {
    border-radius: 8px;
}
.search ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    height: 1px;
}
.search ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.search .sidebar h2{
    font-size: xx-large;
    text-transform: uppercase;
    /* background-color: #5bc0be; */
    background-color: #3a506b;
    color: white;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: rgb(39 44 51 / 10%) 0px 3px 3px -2px, rgb(39 44 51 / 4%) 0px 3px 4px 0px, rgb(39 44 51 / 2%) 0px 1px 8px 0px;
}
details{
    border: none;
    color: rgba(47,55,64,.4);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #dfe2e6;
    background-color: #fff;
    transition: all 0.15s ease;
    cursor: pointer;
    margin-top: 8px;
}
details:hover{
    /* background-color: #5bc0beff; */
    color: #12255c;
}
.search .sidebar ul{
    /* background-color: #3a506b ; */
    color: rgba(39,44,51,.7);
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    list-style: none;
    padding: 10px 0px 10px 0px;
    margin-top: 5px;
    border-radius: 8px;
    width: 100%;
}
.search .sidebar ul li {
    font-size: small;
    /* color: #ddd; */
    padding: 5px;
}
.search .sidebar ul li a{
    overflow-wrap: break-word;
}
.search .sidebar ul li:hover a{
    color: #5bc0beff;
}
.search .sidebar input{
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    margin-left: 5px;
    width: 100%;
}
.search .sidebar .searchBox {
    position: relative;
    align-items: center;
    display: flex;
    background-color: #0b132b;
    color: white;
    padding: 5px;
    width: 90%;
    height: 30px;
    border-radius: 6px;
    margin-bottom: 5px;
  }
  .search .sidebar .searchBox i{
    font-size: 20px;
}

.search .sidebar .addbuttom {
    width: 80%;
    min-height: 40px;
    font-size: 16px;
}
.search .sidebar details ul li .addbuttom:hover {
    transform: scale(1.01);
}
.submitbutton{
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgba(91, 192, 190, 0.667);
    color: white;
    width: 80%;
    font-weight: 500;
    padding: 3px 10px;
    border-radius: 8px;
    transition: all 0.15s ease 0s;
    border:none;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 15%), 0 1px 1px rgb(39 44 51 / 8%);
}
.searchBox .submitbutton{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    border-radius: 6px;
}
.submitbutton:hover{
    background-color: #5bc0be;
    color: #3a506b;
    transform: scale(1.01);
}

/*----------------------------------------------------------------------------------------------------*/

.content  {
    display: flex;
    flex-direction: column;
    height:fit-content;
    font-size: larger;
    flex: 1 1 900px;
    letter-spacing: 1.5px;
    /* padding-top: 50px; */
    padding: 50px 20px 20px 20px;
    margin-left: 280px;
}
.content .hd {
    margin: 10px 0 20px 50px;
    font-size: x-large;
}
.content .hd ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: 600;
    color: #272c3359;
    font-size: 15px;
}
.content .hd ul li i{
    margin: 0 5px 0 5px;
}

.content .container{
    padding: 20px 0 20px 0;
}
small{
    color: rgba(39,44,51,.5);
    font-size: small;
}

.content .container .rows{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content .container .rows .colm1{
    flex:  2 1 250px;
}
.content .container .rows .p-s{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row !important;
    align-items: center;
}
.content .container .rows .p-s-text{
    text-transform: uppercase;
    margin-right: 10px;
    font-size: larger;
    font-weight: 600;
}
.content .container .rows .line{
    border: none;
    background-color: rgba(0,0,0,.1);
    border-radius: 5px;
    height: 3px;
    width: 50%;
}
.content .container .rows .colm1 > * {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.content .container .rows label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: large;
    margin-bottom: 8px;
}
.content .container .rows .form-text{
    outline: none;
    border: 1px solid #edf0f2;
    border-radius: 8px;
    box-shadow: inset 0 1px 1px rgba(39,44,51,.075);
    font-weight: 400;
    color: #272c33;
    font-size: 20px;
    line-height: 1.75;
    padding: 10px;
    line-height: 1.5;
}
.content .container .rows .form-text:focus {
    border: 1px solid #3a506b;
}
.content .container .rows .colm1 textarea{
    resize: none;
    width: 85%;
    height: 150px;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 10px;
}
.content .container .rows textarea:focus {
    border: 1px solid #3a506b;
}
.content .container .rows .colm1 .form-g3 .stars{
    display: flex;
    gap: 5px;
    margin-bottom: 25px;
}
.content .container .rows .colm1 .form-g3 .comments{
    display: flex;
    overflow-y:scroll;
    border-radius: 8px;
    width: 610px;
    gap: 5px;
    
}
.content .container .rows .colm1 .form-g3 .comments div{
    display: grid;
    place-items: center;
    min-height: 150px;
    min-width: 300px;
    background-color: #fff;
    border: 1px solid #dfe2e6;
    border-radius: 8px;
    box-shadow: 0 3px 3px -2px rgba(39,44,51,.1),0 3px 4px 0 rgba(39,44,51,.04),0 1px 8px 0 rgba(39,44,51,.02);

}
.content ::-webkit-scrollbar {
    width: 0px;
}
.content ::-webkit-scrollbar-track {
    border-radius: 8px;
}
.content ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
    height: 0px;
}
.content ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.content .container .rows .colm2{
    flex: 1 1 350px;
    /* width: 300px; */
}
.content .container .rows .colm2 .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #dfe2e6;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 3px -2px rgba(39,44,51,.1),0 3px 4px 0 rgba(39,44,51,.04),0 1px 8px 0 rgba(39,44,51,.02);
}
.content .container .rows .colm2 .card1{
    display: grid;
    place-items: center;
    gap: 10px;
    padding: 20px;
}
.content .container .rows .colm2 .card1  button{
    width: 200px;
    background-color: #5BC0BE;
    border: none;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 15%), 0 1px 1px rgb(39 44 51 / 8%);
}
.content .container .rows .colm2 .card1 button:last-child {
    background-color: #f44336;
}

.content .container .rows .colm2 .card2 .card-video{
    width: 100%;
}
.content .container .rows .colm2 .card2 .card-video iframe{
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 0;
    left: 0;
}
.content .container .rows .colm2 .card2 .card-body{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.content .container .rows .colm2 .card2 .card-body .course-level{
    margin-left: 20px;
}



.content .lastdiv{
    width: 80%;
    margin-bottom: 5vh;
}
.content button{
    width: 45%;
    min-height: 40px;
    font-size: 16px;
}
