<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>
<body style="display: none;">
    <span class="header"></span> 
    <div class="top-background">
        <div class="page-title">StandBy 
            <div class="descr">the role of instructor is optional, but the role of learner is essential</div>
            <div class="search-container">
                <form>
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </form>
              </div>
           </div>
        </div>
        <!--categories block-->
        <div class="page-blocks">
            <div class="title" data-aos="fade-right">
                Categories 
            </div>
            <div class="cat"> 
               <img src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg" data-aos="fade-up" /> 
               <img src="https://images.pexels.com/photos/4827576/pexels-photo-4827576.jpeg?cs=srgb&dl=pexels-cottonbro-4827576.jpg&fm=jpg" data-aos="fade-up"/> 
               <img src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg" data-aos="fade-up"/> 
               <img src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg" data-aos="fade-up"/> 
               <img src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg" data-aos="fade-up"/> 
            </div>
            <button class="more" data-aos="fade-up" id="categories-btn">More Categories</button>
        </div>
        <!--what is standby block-->
        <div class="page-blocks">
            <div class="title" data-aos="fade-right">
                About StandBy 
            </div>
            <div class="flex-block">
        <div id="about" class="flex-item" data-aos="fade-up">
        <div class="block-label">
            What Is StandBy
           </div>
           <div class="block-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Perferendis doloribus reprehenderit, itaque,
                ipsam ipsa ullam necessitatibus odio qui voluptates 
                beatae exercitationem impedit, error facilis provident
                 ratione neque id fugiat est?
           </div>
        </div>
        <div class="flex-item" data-aos="fade-up">
            <div class="block-label">
                   contect us
               </div>
               <div class="block-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis doloribus reprehenderit, itaque,
                 ipsam ipsa ullam necessitatibus odio qui voluptates 
                 beatae exercitationem impedit, error facilis provident
                  ratione neque id fugiat est?
               </div>
            </div>
            <div class="flex-item"data-aos="fade-up">
                <div class="block-label">
                      How To Use StandBy
                   </div>
                   <div class="block-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Perferendis doloribus reprehenderit, itaque,
                     ipsam ipsa ullam necessitatibus odio qui voluptates 
                     beatae exercitationem impedit, error facilis provident
                      ratione neque id fugiat est?
                   </div>
                </div>    
        </div>
        </div>
        

    <span class="footer"></span>
    

</body>
</html>